@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 60px;
    background: url(../img/fondo_container.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.foto {
    width: 100%;
    height: 50%;
    background: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px white solid;
    border-bottom: none;
}

.archivo_foto {
    display:block;
    width:90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto {
    width: 100%;
    height: 50%;
    background: rgba(34,95,161,1);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    border: 10px white solid; 
    border-top: none; 
}

.nombre {
    color: white;
    text-shadow: 2px 2px rgb(8, 8, 8);
    margin-bottom: 5%;
}

.presentacion {
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px rgb(8, 8, 8);
    margin-bottom: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.link {
    text-align: left;
    color: white;
    text-shadow: 2px 2px rgb(8, 8, 8);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
}

.icon {
    display: block;
    width: 25px;
    padding-bottom: 10px;
}

@media (min-width: 900px) { 
    .container {
        flex-direction: row;
        padding: 100px;
    }

    .foto {
        width: 50%;
        height: 100%;
        margin-bottom: 0;
        border: 20px white solid;
        border-right: none;
    }

    .archivo_foto {
        width:100%;
    }

    .texto {
        width: 50%;
        height: 100%; 
        background: rgba(34,95,161,1);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
        border: 20px white solid;
        border-left: none;
    }

    .icon {
        width: 30px;
        padding-bottom: 10px;
    }
}