@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 60px;
}

.foto {
    width: 100%;
    height: 50%;
    background: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
}

.archivo_foto {
    display:block;
    width:70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto {
    width: 100%;
    height: 50%;
    background: rgba(34,95,161,1);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    border: 2px black solid;
}

.nombre {
    color: rgb(247, 186, 55);
    margin-bottom: 5%;
}

.presentacion {
    font-weight: bolder;
    color: rgb(247, 186, 55);
    margin-bottom: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.link {
    text-align: left;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
}

.icon {
    display: block;
    width: 25px;
    padding-bottom: 10px;
}

@media (min-width: 900px) { 
    .container {
        flex-direction: row;
        padding: 200px;
    }

    .foto {
        width: 50%;
        height: 100%;
        margin-bottom: 0;
    }

    .archivo_foto {
        width:100%;
    }

    .texto {
        width: 50%;
        height: 100%;
        background: rgba(34,95,161,1);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);    
    }

    .nombre {
        font-size: 1.4em;
    }

    .presentacion {
        font-size: 1.4em;
    }

    .icon {
        width: 40px;
        padding-bottom: 3px;
    }
}