@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container__bg {
    min-height: 100vh !important;
    background: url(../img/fondo_container.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 380px;
    height: 640px;
    border: 20px white solid !important;
    box-sizing: border-box;
    box-shadow: 20px 20px 10px black;
    margin: 30px !important;
}

.card:hover {
    animation-name: pasa;
    animation-duration: 2s;
    box-shadow: none;
}

.card-img-top {
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    background: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card__img {
    width: 240px;
    margin: 40px;
    display: block;
}

.card-body {
    width: 100%;
    height: 320px;
    background: rgba(34,95,161,1);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
    box-sizing: border-box;
    padding: 30px;
}

.card-title {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(8, 8, 8);
    margin-bottom: 20px !important;
}

.card-title h3{
    color: rgb(109, 181, 223);
}

.card-text {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    color: #062d76;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px rgb(109, 181, 223) inset;
}

.card-text h4 {
    text-decoration: underline;
}

.icon {
    display: block;
    height: 25px;
    margin: 10px;
}

@keyframes pasa {
    from {
        box-shadow: 20px 20px 10px black;
    }
    to {  
        box-shadow: none;
    }        
}

@media screen and (min-width: 900px) {
    .card {
        width: 700px;
        height: 380px;
        flex-direction: row !important;
    }

    .card-img-top {
        width: 50% !important;
        height: 340px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .card__img {
        width: 340px;
        margin: 40px;
    }

    .card-body {
        width: 50% !important;
        height: 340px !important;
    }
}

