@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 60px;
    background: url(../img/fondo_container.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 700px;
    border: 20px rgb(255, 255, 255, 0.5) solid;
    box-sizing: border-box;
    box-shadow: 20px 20px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    animation-name: pasa;
    animation-duration: 2s;
    border-color: white;
    box-shadow: none;
}

.foto {
    width: 100%;
    height: 50%;
    background: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.archivo_foto {
    display:block;
    width:300px;
}

.texto {
    width: 100%;
    height: 50%;
    background: rgba(34,95,161,1);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.nombre {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(8, 8, 8);
    margin-bottom: 20px;
}

.nombre h2{
    color: rgb(109, 181, 223);
}

.presentacion {
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    color: #062d76;
    border-radius: 10px;
    border: 4px rgb(109, 181, 223) inset;
}

.presentacion h3 {
    text-decoration: underline;
    font-weight: bolder;
}

.links {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.link {
    margin: 10px;
}

.icon {
    display: block;
    height: 25px;
}

@keyframes pasa {
    from {
        border-color:rgb(255, 255, 255, 0.5);
        box-shadow: 20px 20px 10px black;
    }
    to {  
        border-color: white;
        box-shadow: none;
    }        
}

@media screen and (min-width: 900px) { 
    .card {
        width: 700px;
        height: 350px;
        flex-direction: row;
    }

    .foto {
        width: 50%;
        height: 100%;
        margin-bottom: 0;
    }

    .archivo_foto {
        width:300px;
    }

    .texto {
        width: 50%;
        height: 100%; 
        background: rgba(34,95,161,1);
        background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgb(12, 76, 145) 100%);
    }

    .icon {
        height: 30px;
    }
}